DISCORD_PUBLIC_KEY=
DISCORD_BOT_TOKEN=
DISCORD_APPLICATION_ID=
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
GOOGLE_SHEET_ID=
FORM_RESPONSES_SHEET=Form Responses 1
MEMBERS_SHEET=members
GSU_ROLE_ID=
NATIONAL_ROLE_ID=
GUILD_ID=
PENDING_CHANNEL_ID=
UNVERIFIED_CHANNEL_ID=
GSU_FORM_URL=
COLORSTACK_APPLICATION_URL=
GSU_EMAIL_DOMAINS=student.gsu.edu,gsu.edu
